// COLORS
$color-primary: #ff7600;
$color-green-light: #b1f0a6;
$color-green-dark: #28b485;

$color-secondary-light: #f9f9fa;
$color-secondary-dark: #fa600e;

$color-red: #ff4848;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dadadc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #292929;
$color-black-light: #5d5d5d;

// FONT
$default-font-size: 1.6rem;

// BOX-SHADOW

$shadow-primary: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
$shadow-secondary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-third: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

$radiusCard: 0 40px 0 40px;
$radiusCardSecond: 20px;
$radiusCardThird: 40px;

// GRID
$grid-width: 110rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
